<a href="https://colab.research.google.com/github/rhanda2/Reddit/blob/master/PopulationAndMigration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [10]:
migrants_data = pd.read_excel("delhi-migrants-state.XLSX")
migrants_data.columns
migrants_data['Total_Migrants'] = migrants_data['Migrants <1'] + migrants_data['Migrants 1-4'] + migrants_data['Migrants 5-9']

      State  District  ... Migrants 1-4  Migrants 5-9
0         7         0  ...      1120655       1196093
1         7         0  ...        34592         33160
2         7         0  ...      1086063       1162933
3         7         0  ...      1098771       1176303
4         7         0  ...        34229         32648
...     ...       ...  ...          ...           ...
5005      7        98  ...            0             0
5006      7        98  ...           31            15
5007      7        98  ...         4495          4650
5008      7        98  ...            3             1
5009      7        98  ...         4492          4649

[5010 rows x 6 columns]

In [23]:
census_2011_data = pd.read_excel("PCA _2011_Distt-Sub_Dist_NCT_of_Delhi.xls")
census_2011_data.drop(columns=["Total/ Rural/ Urban"])
census_2011_data.rename(columns= {"State/District/          Sub District" : "District"}, inplace= True)

Index(['State/District/          Sub District', 'Total/ Rural/ Urban',
       'Growth Rate 2001-2011', 'Child population in the age-group     0-6',
       '% of Child Population in the age group 0-6 years', 'Literates',
       'Literacy Rate'],
      dtype='object')
Index(['District', 'Total/ Rural/ Urban', 'Growth Rate 2001-2011',
       'Child population in the age-group     0-6',
       '% of Child Population in the age group 0-6 years', 'Literates',
       'Literacy Rate'],
      dtype='object')
              District Total/ Rural/ Urban  ...  Literates  Literacy Rate
0        NCT of Delhi                Total  ...   12737767      86.208779
1  North West District               Total  ...    2707855      84.445113
2       North District               Total  ...     681517      86.853521
3  North East District               Total  ...    1611588      83.085380
4        East District               Total  ...    1352998      89.307447
5   New Delhi District               Total  ...     114179      88.343753
6     Central District               Total  ...     442360      85.137832
7        West District               Total  ...    1961179      86.977110
8  South West District               Total  ...    1787689      88.282290
9       South District               Total  ...    2078402      86.568125

[10 rows x 7 columns]

In [ ]:
migrants_data.groupby()